body {
    background: #f1f1f1;
}

/**************************
**********CONTENT**********
**************************/

.row {
    margin-bottom: 0;
}

#content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f1f1f1), #f1f1f1 url("../img/page-top-bg.png") no-repeat fixed top;
    background-size: cover;
}

.logo {
    width: 61px;
    height: 55px;
    object-fit: contain;
}

.name {
    width: 256.7px;
    height: 42px;
    font-size: 18px;
    letter-spacing: 2.6px;
    text-align: left;
    color: #ef7a3e;
    display: inline-block;
    margin: 10px 0 0 0;
}

.space {
    padding: 61px 0;
}

nav {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 117px 0 67px;
}

.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active {
    color: #000000;
    text-transform: none;
    font-size: 16px;
    letter-spacing: 2.3px;
    opacity: 0.75;
}

.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
    color: #9b9b9b;
    text-transform: none;
    font-size: 16px;
    letter-spacing: 2.3px;
    opacity: 0.75;
}

.tabs.tabs-transparent .indicator {
    background-color: #ef7a3e;
}

.tabs .indicator {
    height: 4px;
}

#wait, #done {
    min-height: 400px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    line-height: 18px;
}

nav ul a {
    color: #e21a62;
    font-size: 16px;
    letter-spacing: 2px;
}

i.right {
    margin-left: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ef7a3e;
}

.pet {
    width: 100%;
    height: 100px;
    padding: 0;
    border-radius: 100px;
    background-color: rgba(222, 215, 226, 0.4);
    font-weight: normal;
}

.pet:hover {
    background-color: #ded7e2;
}

.pet-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #ded7e2;
    margin: 20px;
}

.pet-name {
    width: 320px;
    height: 17px;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
    color: #2a163c;
    margin: 18px 0 0 0;
}

.pet-inf {
    width: 151px;
    height: 36px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: left;
    color: #8e8497;
}

.pet-type {
    width: 38px;
    height: 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: left;
    color: #8e8497;
    margin-top: 45px;
}

.pet-adoptalas {
    width: 140px;
    height: 30px;
    border-radius: 100px;
    border: 0;
    background-image: linear-gradient(to right, #f37942, #e91562);
    font-size: 12px;
    letter-spacing: 1.1px;
    text-align: center;
    color: #ffffff;
    margin-top: 35px;
}

.pet-adoptalas:hover {
    background-image: linear-gradient(to right, #e91562, #f37942);
}

.close {
    background: #8e8497;
    color: #ded7e2;
    font-size: 26px !important;
    font-weight: 900;
    margin: 30px 30px 0 0;
    padding: 5px !important;
    border-radius: 50%;
    line-height: 25px !important;
}

/**************************
**********FOOTER***********
**************************/

.page-footer {
    background-color: #2a163c;
    margin-top: 60px;
}

.copyright {
    width: 280px;
    height: 32px;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 1.1px;
    text-align: left;
    color: #8e8497;
    margin: 27.7px 0 0 0;
}

.linkedin {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 40px 20px 40px 0;
}

.facebook {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 40px 0 40px 0;
}

.footer-menu {
    width: 141px;
    height: 112px;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

footer ul {
    margin-top: 35px;
}

footer li {
    margin-bottom: 10px;
}